html{
  height: 100%;
}

body{
  background: linear-gradient(#D098F0, #AD2A89); /*Fondo con degradado*/
  background-repeat:no-repeat;/*Para que no se repita el fondo*/
}


.contenedor-all{
 background: linear-gradient(#A82BD1, #5E1476);
 width: 700px;
 height: 450px;
 border-radius:20px;
 align-content: center;
}







.contendor-all .card0{


}


.contendor-all .card{

}



.contendor-all .card0 img{

}

.contendor-all .card0 h1{


}
.contendor-all .card0 p{


}
.contendor-all .card0 h2{

}

.contendor-all .card img{

}
